.service_card {
  border-radius: 6px;
  overflow: hidden;
  background: var(--accent);
  box-shadow: 1px 1px 10px var(--primary);
  transition: all 0.3s;
}

.service_btn {
  font-size: 12px;
  padding: 5px 12px;
  border-radius: 22px;
  border: 1px solid #636363;
  font-weight: 300;
  color: #fff;
  border-color: var(--primary);
  background-color: var(--primary);

  transition: all 0.3s ease;
}

.service_card:hover {
  box-shadow: 1px 1px 10px #fff;
  background: var(--primary);
}

.service_card:hover .service_btn {
  color: var(--primary);
  border-color: var(--primary);
  background-color: #fff;
}

.service_card:hover .service_img {
  transform: scale(1.1);
}
